@import 'https://fonts.googleapis.com/css?family=Merienda+One';

html {
    width: 100%;
}

body {
    width: 100%;
    background-color:#e9ebee;
    margin: 0px;
}

button {
    border-radius: 5px;
    background-color: #ccc;
    padding: 5px;
    border: 2px solid black;
    font: 20px 'Merienda One', Helvetica, sans-serif;
    margin: 0px 10px;
    cursor: pointer;
}
button:hover {
    background-color: #eee;
}
button:active {
    background-color: #aaa;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    font: inherit;
    font-size: 15px;
}
input:focus {
    border-color: #66afe8
}

ul {
    list-style-type: none;
    padding: 0px;
}
li {
    margin: 10px;
}

.container {
    padding-top:10px;
    /* width: 1000px; */
    display: flex;
    width: 80%;
    margin: auto auto ;
    font:  25px 'Merienda One', Helvetica, sans-serif;
    text-align: center;
}
.container > form, div { /* Should be on all elements */
    margin:auto;
}

.footer {
    width: 80%;
    margin: 50px auto 30px;
    bottom: 0;
    text-align: center;
}

.loadingPage {
    position: fixed;
    font-size: 30px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}