@import 'http://fonts.googleapis.com/css?family=Merienda+One';

body {
    background-color:#7cb3b0;
}

button {
    border-radius: 5px;
    background-color: #454bff;
    padding: 5px;
    border: 2px solid black;
    font: 25px 'Merienda One', Helvetica, sans-serif;    
}
button:hover {
    background-color: black;
    color: #454bff;
}
button:active {
    background-color: #394bff;
    color:black;
}

.container {
    margin: auto;
    padding-top:10px;
    width:60%;
    height:100%;
    min-height: 600px;
    background-color: #6bb3b0;
    border: 1px solid black;
    border-radius:10px;
    font:  25px 'Merienda One', Helvetica, sans-serif;
}

.navbar {
    padding:10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.navbar a, a:visited {
    /*border: 1px solid black;
    border-radius:10px;*/
    padding: 5px;
    color: blue;
    margin:10px;
    text-decoration: none;
}
.navbar a:hover{
    color: black;
}
.navbar a:active{
    color: cyan;
}

.content {
    text-align: center;
}

ul {
    list-style-type: none;
    /*cursor:pointer;*/
    padding: 0px;
}